<!DOCTYPE html>
<html lang="en" xmlns:="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
    <h1 th:text="${loginmessage}">This should not display</h1>
    <form action="#" th:action="@{/login}" th:object="${newuser}" method="post">
        <p>Enter username: <input type="text" th:field="*{name}"/></p>
        <p>Enter password: <input type="text" th:field="*{password}"/></p>
        <input type="submit" value="Submit" />
    </form>


    <div th:replace="base :: footer"></div>
</body>
</html>